<a href="{{url_for('main.profile', username=answer.author.username)}}">
        <img class="img-rounded profile-thumbnail" src="{{answer.author.gravatar(size=36)}}" />
</a>
<div class="answerers">
    <a href="{{url_for('main.profile', username=answer.author.username)}}"><b>{{answer.author.username}}</b></a>
    <p><small>{{answer.author.description}}</small></p>
</div>
    <div>
        {% if answer.body_html %}
        {{answer.body_html | safe}}
        {% else %}
        {{answer.body}}
        {% endif %}
    </div><br/>
    <p class="time">编辑于 {{moment(answer.timestamp).format('L')}}
        {% if current_user == answer.author %}
        <a class="right delete" href="{{url_for('main.delete_answer', id=answer.id)}}">删除回答</a>
        <a href="{{url_for('main.edit_answer', id=answer.id)}}">修改回答</a>
        {% endif %}
    </p>
    {% if not current_user.have_liked(answer) %}
    <a href="{{url_for('main.like_answer', id=answer.id)}}">
        <span class="glyphicon glyphicon-thumbs-up unliked">
            {% if answer.likes.count() != 0%}
            {{answer.likes.count()}}
            {% endif %}
        </span>
    </a>
    {% else %}
    <a href="{{url_for('main.dislike_answer', id=answer.id)}}">
        <span class="glyphicon glyphicon-thumbs-up liked">{{answer.likes.count()}}</span>
    </a>
    {% endif %}
    <a target="_blank" class="time" href="{{url_for('main.answer', id_que=answer.question.id, id_ans=answer.id)}}">
        <span class="glyphicon glyphicon-comment right">
        {% if answer.comments.count() != 0 %}
        {{answer.comments.count()}}条评论
        {% else %}
        添加评论
        {% endif %}
        </span>
    </a>
    <hr/>