{% extends "main/_profile.html" %}
{% import "_macros.html" as macro %}
{% block more_info %}
<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{url_for('main.profile', username=user.username)}}">动态</a> </li>
        <li><a href="{{url_for('main.people_answers',username=user.username)}}">回答{{user.answers.count()}}</a> </li>
        <li><a href="{{url_for('main.people_asks', username=user.username)}}">提问{{user.questions_asked.count()}}</a> </li>
        <li><a href="{{url_for('main.followers',username=user.username)}}">关注他的人</a> </li>
        <li><a href="{{url_for('main.followings',username=user.username)}}">他关注的人</a> </li>
        <li><a href="{{url_for('main.people_following_topics',username=user.username)}}">关注的话题</a> </li>
        <li><a href="{{url_for('main.people_following_questions',username=user.username)}}">关注的问题</a> </li>
    </ul>
</div>
<div>
    {% for like in likes %}
    {% if like.answer %}
    <p class="grey">赞同了回答<span class="right">{{moment(like.timestamp).fromNow(refresh=True)}}</span> </p>
    <p ><a class="black-bold-link" href="{{url_for('main.question', id=like.answer.question.id)}}">
        {{like.answer.question.title}}</a>
    </p>
        {% for answer in [like.answer] %}
        {% include "main/_answer.html" %}
        {% endfor %}
    {% endif %}
    {% endfor %}
    {% if pagination %}
    <div class="pagination">
        {{macro.pagination_widget(pagination, 'main.profile', username=user.username)}}
    </div>
    {% endif %}
</div>
{% endblock %}